* {
    box-sizing: border-box
}


p {
    color: #293743;
    font-size: 16px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    letter-spacing: .5px;
    letter-spacing: .5px;
    }

header {
    margin: 50px 0 50px 0;
    
}

i {
    padding: 0 20px 0 20px;
    
}
.presentation
{
    position: relative;
    margin-bottom: 50px;
}

    .title {
        
        margin-bottom: 50px;
        background-color: #24c3ce;
        padding: 100px;
        width: 100%;
        height: 250px;
    
}
    .title h1 {
        font-size: 25px;
        color: #293743;
        text-transform: uppercase;
        text-align: center;
    }
        .presentation .title p {
            margin-bottom: 50px;
            height: 20px;
            width: 260px;
        }
    

        .presentation p {
            margin: 0 auto;
            width: 400px;
            height: 120px;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0,0,0,.1);
            margin-bottom: 50px;
        }


.kontakt {
    text-align: center;
    margin: auto;
    height: auto;
    margin-bottom: 50px;
}
.kontakt .kontakt-container
{
    display: inline;
}
.skillContainer {
    width: 70%;
    margin: auto;
}
    .skillContainer h1 {
        text-align: center;
        color: #293743;
		text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    	letter-spacing: .5px;
    }

        .skillContainer p{
            color: #293743;
            font-size: 16px;
        }

.bar {
  width: 100%;
  background-color: #ddd;
}

.skill {
  text-align: right;
  padding: 5px;
  color: white;
  background-color: #24c3ce;
}

#html {width: 40%;}
#css {width: 40%;}
#javascript {width: 20%;}
#java {width: 30%;}
#sql {width:30%}